*{
    margin: 0;
    padding: 0;
}
body{
    
    min-height: 100vh;
    border: 1px solid tomato;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
body input{
    width: 300px;
    margin: 10px;
    height: 35px;
    border: 1px solid tomato;
    border-bottom: 1px solid tomato;
    overflow: hidden;
    outline: none;
    background: transparent;
   
}
body button{
    margin-top: 10px;
    background-color: tomato;
    border: none;
    padding: 10px 20px;
    width: 300px;
    cursor: pointer;
}
body input::placeholder{
    padding-left: 10px;
}